<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AgenticAI Autonomous Framework Suite" verbose="1">
    <listeners>
        <listener class-name="com.agenticAI.autonomousFramework.Utils.TestListener"/>
    </listeners>

    <!-- TDD: TestNG-driven Playwright tests -->
    <test name="TDD-Suite">
        <classes>
            <!-- <class name="com.agenticAI.autonomousFramework.Java.PlaywrightTests"/> -->
            <!-- <class name="com.agenticAI.autonomousFramework.Java.ComplexPlaywrightTests"/> -->
            <!-- <class name="com.agenticAI.autonomousFramework.Java.LocatorChallengeTests"/> -->
            <class name="com.agenticAI.autonomousFramework.Java.UnfixableTests"/>
        </classes>
    </test>

    <!-- BDD: Cucumber scenarios executed via TestNG runner -->
    <test name="BDD-Suite">
        <classes>
            <class name="com.agenticAI.autonomousFramework.bdd.runners.CucumberTestNGRunner"/>
        </classes>
    </test>
</suite>
